### Preparation of Combined Leagues SOT csv for analysis'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [49]:

df1=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Italy/Serie A/2021-22.csv")         # Italy Serie A
df2=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Italy/Serie A/2020-21.csv")
df3=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Italy/Serie A/2019-20.csv")
df4=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Italy/Serie A/2018-19.csv")
df37=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Italy/Serie A/2017-18.csv")
df38=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Italy/Serie A/2016-17.csv")
df39=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Italy/Serie A/2015-16.csv")
         
df5=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/England/Premiership/2021-22.csv")    # England Prem
df6=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/England/Premiership/2020-21.csv")
df7=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/England/Premiership/2019-20.csv")
df8=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/England/Premiership/2018-19.csv")
df40=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/England/Premiership/2017-18.csv")
df41=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/England/Premiership/2016-17.csv")
df42=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/England/Premiership/2015-16.csv")
df43=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/England/Premiership/2014-15.csv")

df9=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Germany/Bundesliga 1/2021-22.csv")   # Germany Bundesliga
df10=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Germany/Bundesliga 1/2020-21.csv")
df11=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Germany/Bundesliga 1/2019-20.csv")
df12=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Germany/Bundesliga 1/2018-19.csv")
df44=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Germany/Bundesliga 1/2017-18.csv")
df45=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Germany/Bundesliga 1/2016-17.csv")
df46=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Germany/Bundesliga 1/2015-16.csv")
df47=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Germany/Bundesliga 1/2014-15.csv")

     
df13=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Spain/Primera/2021-22.csv")           # Spain
df14=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Spain/Primera/2020-21.csv")
df15=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Spain/Primera/2019-20.csv")
df16=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Spain/Primera/2018-19.csv")
df48=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Spain/Primera/2017-18.csv")
df49=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Spain/Primera/2016-17.csv")
df50=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Spain/Primera/2015-16.csv")
df51=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Spain/Primera/2014-15.csv")
    
df17=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/France/Ligue1/2021-22.csv")          # France
df18=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/France/Ligue1/2020-21.csv")
df19=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/France/Ligue1/2019-20.csv")
df20=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/France/Ligue1/2018-19.csv")
df52=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/France/Ligue1/2017-18.csv")
df53=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/France/Ligue1/2016-17.csv")
df54=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/France/Ligue1/2015-16.csv")
df55=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/France/Ligue1/2014-15.csv")

df21=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Scotland/Premiership/2021-22.csv")    #Scotland
df22=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Scotland/Premiership/2020-21.csv")
df23=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Scotland/Premiership/2019-20.csv")
df56=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Scotland/Premiership/2017-18.csv") 
df57=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Scotland/Premiership/2016-17.csv") 
df58=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Scotland/Premiership/2015-16.csv") 
df59=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Scotland/Premiership/2014-15.csv") 
df60=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Scotland/Premiership/2013-14.csv") 

    
df25=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Netherlands/2021-22.csv")             # Netherlands
df26=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Netherlands/2020-21.csv")
df27=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Netherlands/2019-20.csv")
df28=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Netherlands/2018-19.csv")  
   
df29=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Portugal/2021-22.csv")                # Portugal
df30=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Portugal/2020-21.csv")
df31=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Portugal/2019-20.csv")
df32=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Portugal/2018-19.csv")                   
      
df33=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Belgium/2021-22.csv")               # Belgium
df34=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Belgium/2020-21.csv")
df35=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Belgium/2019-20.csv")
df36=pd.read_csv("C:/Users/MikeD/Documents/Betting/Football-Data.co.uk/Belgium/2018-19.csv")

In [50]:
def add_HST_AST_for_against_columns(df):
    
    df['HS_f_Av'] = round(df.groupby('HomeTeam')['HS'].transform('mean'),2)
    df['HS_a_Av'] = round(df.groupby('HomeTeam')['AS'].transform('mean'),2)
    df['AS_f_Av'] = round(df.groupby('AwayTeam')['AS'].transform('mean'),2)
    df['AS_a_Av'] = round(df.groupby('AwayTeam')['HS'].transform('mean'),2)   
    
    df['HST_f_Av'] = round(df.groupby('HomeTeam')['HST'].transform('mean'),2)
    df['HST_a_Av'] = round(df.groupby('HomeTeam')['AST'].transform('mean'),2)
    df['AST_f_Av'] = round(df.groupby('AwayTeam')['AST'].transform('mean'),2)
    df['AST_a_Av'] = round(df.groupby('AwayTeam')['HST'].transform('mean'),2)
    
    df['HST_Lg_Av'] = round(df['HST'].mean(),2)
    df['AST_Lg_Av'] = round(df['AST'].mean(),2)

    df['HS_Lg_Av'] = round(df['HS'].mean(),2)
    df['AS_Lg_Av'] = round(df['AS'].mean(),2)    
    
    return df

df1 = add_HST_AST_for_against_columns(df1)
df2 = add_HST_AST_for_against_columns(df2)
df3 = add_HST_AST_for_against_columns(df3)
df4 = add_HST_AST_for_against_columns(df4)
df5 = add_HST_AST_for_against_columns(df5)
df6 = add_HST_AST_for_against_columns(df6)
df7 = add_HST_AST_for_against_columns(df7)
df8 = add_HST_AST_for_against_columns(df8)
df9 = add_HST_AST_for_against_columns(df9)
df10 = add_HST_AST_for_against_columns(df10)
df11 = add_HST_AST_for_against_columns(df11)
df12 = add_HST_AST_for_against_columns(df12)
df13 = add_HST_AST_for_against_columns(df13)
df14 = add_HST_AST_for_against_columns(df14)
df15 = add_HST_AST_for_against_columns(df15)
df16 = add_HST_AST_for_against_columns(df16)
df17 = add_HST_AST_for_against_columns(df17)
df18 = add_HST_AST_for_against_columns(df18)
df19 = add_HST_AST_for_against_columns(df19)
df20 = add_HST_AST_for_against_columns(df20)
df21 = add_HST_AST_for_against_columns(df21)
df22 = add_HST_AST_for_against_columns(df22)
df23 = add_HST_AST_for_against_columns(df23)
#df24 = add_HST_AST_for_against_columns(df24)
df25 = add_HST_AST_for_against_columns(df25)
df26 = add_HST_AST_for_against_columns(df26)
df27 = add_HST_AST_for_against_columns(df27)
df28 = add_HST_AST_for_against_columns(df28)
df29 = add_HST_AST_for_against_columns(df29)
df30 = add_HST_AST_for_against_columns(df30)
df31 = add_HST_AST_for_against_columns(df31)
df32 = add_HST_AST_for_against_columns(df32)
df33 = add_HST_AST_for_against_columns(df33)
df34 = add_HST_AST_for_against_columns(df34)
df35 = add_HST_AST_for_against_columns(df35)
df36 = add_HST_AST_for_against_columns(df36)
df37 = add_HST_AST_for_against_columns(df37)
df38 = add_HST_AST_for_against_columns(df38)
df39 = add_HST_AST_for_against_columns(df39)
df40 = add_HST_AST_for_against_columns(df40)
df41 = add_HST_AST_for_against_columns(df41)
df42 = add_HST_AST_for_against_columns(df42)
df43 = add_HST_AST_for_against_columns(df43)
df44 = add_HST_AST_for_against_columns(df44)
df45 = add_HST_AST_for_against_columns(df45)
df46 = add_HST_AST_for_against_columns(df46)
df47 = add_HST_AST_for_against_columns(df47)
df48 = add_HST_AST_for_against_columns(df48)
df49 = add_HST_AST_for_against_columns(df49)
df50 = add_HST_AST_for_against_columns(df50)
df51 = add_HST_AST_for_against_columns(df51)
df52 = add_HST_AST_for_against_columns(df52)
df53 = add_HST_AST_for_against_columns(df53)
df54 = add_HST_AST_for_against_columns(df54)
df55 = add_HST_AST_for_against_columns(df55)
df56 = add_HST_AST_for_against_columns(df56)
df57 = add_HST_AST_for_against_columns(df57)
df58 = add_HST_AST_for_against_columns(df58)
df59 = add_HST_AST_for_against_columns(df59)
df60 = add_HST_AST_for_against_columns(df60)

#for df in (df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20):
#    df = add_HST_AST_for_against_columns(df)

In [51]:

#for df in (df1,df2,df3):

#    L_1_h_ST_f = round(df.groupby('HomeTeam', as_index=False)['HST'].mean(),2)
#    L_1_h_ST_f.rename(columns = {'HST':'HST_f_Av'},inplace=True)
#    L_1_h_ST_a = round(df.groupby('HomeTeam', as_index=False)['AST'].mean(),2)
#    L_1_h_ST_a.rename(columns = {'AST':'HST_a_Av'},inplace=True)
#    L_1_a_ST_f = round(df.groupby('AwayTeam', as_index=False)['AST'].mean(),2)
#    L_1_a_ST_f.rename(columns = {'AST':'AST_f_Av'},inplace=True)
 #   L_1_a_ST_a = round(df.groupby('AwayTeam', as_index=False)['HST'].mean(),2)
 #   L_1_a_ST_a.rename(columns = {'HST':'AST_a_Av'},inplace=True)

 #   L_1_h=pd.merge(L_1_h_ST_f,L_1_h_ST_a,how='left')
 #   L_1_a=pd.merge(L_1_a_ST_f,L_1_a_ST_a,how='left')
 #   df=pd.merge(df,L_1_h,how='left')
 #   df=pd.merge(df,L_1_a,how='left')

In [52]:
Lg_List = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42,df43,df44,df45,df46,df47,df48,df49,df50,df51,df52,df53,df54,df55,df56,df57,df58,df59,df60]
df = pd.concat(Lg_List)
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,Time,Referee,HFKC,AFKC,LBH,LBD,LBA,SJH,SJD,SJA
0,I1,21/08/2021,Inter,Genoa,4,0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I1,21/08/2021,Verona,Sassuolo,2,3,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I1,21/08/2021,Empoli,Lazio,1,3,A,1.0,3.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I1,21/08/2021,Torino,Atalanta,1,2,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I1,22/08/2021,Bologna,Salernitana,3,2,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,SC0,10/05/2014,Partick,Ross County,2,3,A,0.0,1.0,A,...,NaN,B Madden,NaN,NaN,2.20,3.3,3.25,2.10,3.40,3.40
224,SC0,10/05/2014,St Mirren,Hearts,1,1,D,1.0,0.0,H,...,NaN,S Finnie,NaN,NaN,2.20,3.5,3.10,2.20,3.40,3.20
225,SC0,11/05/2014,Aberdeen,Motherwell,0,1,A,0.0,0.0,D,...,NaN,S McLean,NaN,NaN,2.10,3.5,3.30,2.05,3.40,3.50
226,SC0,11/05/2014,Celtic,Dundee United,3,1,H,0.0,0.0,D,...,NaN,W Collum,NaN,NaN,1.33,5.0,9.00,1.29,5.25,10.00
227,SC0,11/05/2014,Inverness C,St Johnstone,2,0,H,0.0,0.0,D,...,NaN,A Muir,NaN,NaN,2.37,3.2,3.00,2.38,3.25,2.88

In [53]:
df.shape

(19360, 144)

In [54]:
df.head(5)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,Time,Referee,HFKC,AFKC,LBH,LBD,LBA,SJH,SJD,SJA
0,I1,21/08/2021,Inter,Genoa,4,0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I1,21/08/2021,Verona,Sassuolo,2,3,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I1,21/08/2021,Empoli,Lazio,1,3,A,1.0,3.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I1,21/08/2021,Torino,Atalanta,1,2,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I1,22/08/2021,Bologna,Salernitana,3,2,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df.tail(5)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,Time,Referee,HFKC,AFKC,LBH,LBD,LBA,SJH,SJD,SJA
223,SC0,10/05/2014,Partick,Ross County,2,3,A,0.0,1.0,A,...,NaN,B Madden,NaN,NaN,2.20,3.3,3.25,2.10,3.40,3.40
224,SC0,10/05/2014,St Mirren,Hearts,1,1,D,1.0,0.0,H,...,NaN,S Finnie,NaN,NaN,2.20,3.5,3.10,2.20,3.40,3.20
225,SC0,11/05/2014,Aberdeen,Motherwell,0,1,A,0.0,0.0,D,...,NaN,S McLean,NaN,NaN,2.10,3.5,3.30,2.05,3.40,3.50
226,SC0,11/05/2014,Celtic,Dundee United,3,1,H,0.0,0.0,D,...,NaN,W Collum,NaN,NaN,1.33,5.0,9.00,1.29,5.25,10.00
227,SC0,11/05/2014,Inverness C,St Johnstone,2,0,H,0.0,0.0,D,...,NaN,A Muir,NaN,NaN,2.37,3.2,3.00,2.38,3.25,2.88

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19360 entries, 0 to 227
Columns: 144 entries, Div to SJA
dtypes: float64(134), int64(2), object(8)
memory usage: 21.4+ MB

In [57]:
# Display descriptive data for LD_df
df.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,BbMxAHA,BbAvAHA,HFKC,AFKC,LBH,LBD,LBA,SJH,SJD,SJA
count,19360.000000,19360.000000,19356.000000,19356.000000,19356.000000,19356.000000,19356.000000,19356.000000,19116.000000,19116.000000,...,10736.000000,10736.000000,238.000000,238.000000,8057.000000,8057.000000,8057.000000,406.000000,406.000000,406.000000
mean,1.533523,1.225413,0.674055,0.541641,13.194565,10.902253,4.805848,3.985173,12.627485,12.892237,...,1.987264,1.925888,16.004202,16.546218,2.772270,3.961030,4.822913,2.672833,3.700862,4.034729
std,1.313667,1.181899,0.829282,0.750009,5.283614,4.693725,2.634297,2.360450,4.169821,4.241506,...,0.167390,0.155562,4.331708,4.537231,2.129774,1.419861,4.818214,1.609238,0.873882,3.089508
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.440000,1.400000,6.000000,2.000000,1.040000,2.380000,1.060000,1.070000,2.880000,1.180000
25%,1.000000,0.000000,0.000000,0.000000,9.000000,8.000000,3.000000,2.000000,10.000000,10.000000,...,1.880000,1.820000,12.250000,14.000000,1.700000,3.250000,2.400000,1.800000,3.250000,2.400000
50%,1.000000,1.000000,0.000000,0.000000,13.000000,10.000000,4.000000,4.000000,12.000000,13.000000,...,1.980000,1.920000,16.000000,17.000000,2.200000,3.500000,3.400000,2.225000,3.400000,3.130000
75%,2.000000,2.000000,1.000000,1.000000,16.000000,14.000000,6.000000,5.000000,15.000000,16.000000,...,2.090000,2.020000,19.000000,20.000000,2.900000,4.000000,5.000000,2.880000,3.750000,4.500000
max,10.000000,13.000000,6.000000,7.000000,46.000000,45.000000,19.000000,23.000000,33.000000,34.000000,...,3.790000,3.550000,30.000000,26.000000,29.000000,19.000000,61.000000,15.000000,9.500000,26.000000

In [58]:
# check how many null values are in the columns
df.isnull()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,Time,Referee,HFKC,AFKC,LBH,LBD,LBA,SJH,SJD,SJA
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,False,False,False,False,False
224,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,False,False,False,False,False
225,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,False,False,False,False,False
226,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,False,False,False,False,False
227,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,False,False,False,False,False

In [59]:
# alternative check on null values
df.isna().sum()

Div             0
Date            0
HomeTeam        0
AwayTeam        0
FTHG            0
            ...
LBD         11303
LBA         11303
SJH         18954
SJD         18954
SJA         18954
Length: 144, dtype: int64

In [60]:
#Selecting duplicate rows except first occurrence based on all columns
duplicate = df[df.duplicated(keep ='first')]
print('Duplicate Rows :')
duplicate

Duplicate Rows :

Empty DataFrame
Columns: [Div, Date, HomeTeam, AwayTeam, FTHG, FTAG, FTR, HTHG, HTAG, HTR, HS, AS, HST, AST, HF, AF, HC, AC, HY, AY, HR, AR, B365H, B365D, B365A, BWH, BWD, BWA, IWH, IWD, IWA, PSH, PSD, PSA, WHH, WHD, WHA, VCH, VCD, VCA, MaxH, MaxD, MaxA, AvgH, AvgD, AvgA, B365>2.5, B365<2.5, P>2.5, P<2.5, Max>2.5, Max<2.5, Avg>2.5, Avg<2.5, AHh, B365AHH, B365AHA, PAHH, PAHA, MaxAHH, MaxAHA, AvgAHH, AvgAHA, B365CH, B365CD, B365CA, BWCH, BWCD, BWCA, IWCH, IWCD, IWCA, PSCH, PSCD, PSCA, WHCH, WHCD, WHCA, VCCH, VCCD, VCCA, MaxCH, MaxCD, MaxCA, AvgCH, AvgCD, AvgCA, B365C>2.5, B365C<2.5, PC>2.5, PC<2.5, MaxC>2.5, MaxC<2.5, AvgC>2.5, AvgC<2.5, AHCh, B365CAHH, B365CAHA, PCAHH, PCAHA, ...]
Index: []

[0 rows x 144 columns]

In [61]:
df.drop_duplicates(keep='first')
df.shape

(19360, 144)

In [62]:
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR',
       ...
       'Time', 'Referee', 'HFKC', 'AFKC', 'LBH', 'LBD', 'LBA', 'SJH', 'SJD',
       'SJA'],
      dtype='object', length=144)

In [63]:
df = df[['Div', 'Date','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','HS','AS','HS_f_Av','AS_f_Av','HS_a_Av','AS_a_Av','HS_Lg_Av', 'AS_Lg_Av', 'HST','AST','HST_f_Av','AST_f_Av','HST_a_Av','AST_a_Av','HST_Lg_Av', 'AST_Lg_Av','AvgH','AvgD','AvgA', 'BbAvH', 'BbAvA', 'BbAvD','Avg>2.5','Avg<2.5','BbAv>2.5','BbAv<2.5']] # Collate the columns we want

In [64]:
df.head(5)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HS_f_Av,AS_f_Av,...,AvgH,AvgD,AvgA,BbAvH,BbAvA,BbAvD,Avg>2.5,Avg<2.5,BbAv>2.5,BbAv<2.5
0,I1,21/08/2021,Inter,Genoa,4,0,17.0,11.0,19.79,9.53,...,1.35,5.16,8.94,NaN,NaN,NaN,1.63,2.28,NaN,NaN
1,I1,21/08/2021,Verona,Sassuolo,2,3,12.0,15.0,12.26,14.47,...,2.61,3.43,2.69,NaN,NaN,NaN,1.85,1.98,NaN,NaN
2,I1,21/08/2021,Empoli,Lazio,1,3,16.0,8.0,14.26,10.11,...,4.71,3.90,1.73,NaN,NaN,NaN,1.72,2.15,NaN,NaN
3,I1,21/08/2021,Torino,Atalanta,1,2,19.0,6.0,14.00,14.37,...,5.43,4.23,1.60,NaN,NaN,NaN,1.57,2.43,NaN,NaN
4,I1,22/08/2021,Bologna,Salernitana,3,2,18.0,8.0,11.84,10.53,...,1.65,4.04,5.15,NaN,NaN,NaN,1.81,2.02,NaN,NaN

##### If 'Avg' column NaN take value from  'BbAv'

In [65]:
df['AvH'] = df['AvgH'].fillna(df['BbAvH'])

C:\Users\MikeD\AppData\Local\Temp\ipykernel_16076\78659792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AvH'] = df['AvgH'].fillna(df['BbAvH'])

In [66]:
df['AvD'] = df['AvgD'].fillna(df['BbAvD'])

C:\Users\MikeD\AppData\Local\Temp\ipykernel_16076\1651357309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AvD'] = df['AvgD'].fillna(df['BbAvD'])

In [67]:
df['AvA'] = df['AvgA'].fillna(df['BbAvA'])

C:\Users\MikeD\AppData\Local\Temp\ipykernel_16076\467241150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AvA'] = df['AvgA'].fillna(df['BbAvA'])

In [68]:
df['Av_O2.5'] = df['Avg>2.5'].fillna(df['BbAv>2.5'])
df['Av_U2.5'] = df['Avg<2.5'].fillna(df['BbAv<2.5'])

C:\Users\MikeD\AppData\Local\Temp\ipykernel_16076\2127771669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Av_O2.5'] = df['Avg>2.5'].fillna(df['BbAv>2.5'])
C:\Users\MikeD\AppData\Local\Temp\ipykernel_16076\2127771669.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Av_U2.5'] = df['Avg<2.5'].fillna(df['BbAv<2.5'])

In [69]:
df = df.drop(['AvgH','AvgD','AvgA','Avg>2.5', 'Avg<2.5','BbAvH', 'BbAvD', 'BbAvA', 'BbAv>2.5','BbAv<2.5'], axis=1)

In [70]:
print(df.isnull().sum())

Div          0
Date         0
HomeTeam     0
AwayTeam     0
FTHG         0
FTAG         0
HS           4
AS           4
HS_f_Av      0
AS_f_Av      0
HS_a_Av      0
AS_a_Av      0
HS_Lg_Av     0
AS_Lg_Av     0
HST          4
AST          4
HST_f_Av     0
AST_f_Av     0
HST_a_Av     0
AST_a_Av     0
HST_Lg_Av    0
AST_Lg_Av    0
AvH          1
AvD          1
AvA          1
Av_O2.5      2
Av_U2.5      2
dtype: int64

#### Add columns with Totals (Goals, Shots)

In [71]:
df['TG'] = df['FTHG'] + df['FTAG']  # adding a Total Goals column

In [72]:
df['TST'] = df['HST'] + df['AST']  # adding a Total Shots on Target column

In [73]:
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'HS', 'AS',
       'HS_f_Av', 'AS_f_Av', 'HS_a_Av', 'AS_a_Av', 'HS_Lg_Av', 'AS_Lg_Av',
       'HST', 'AST', 'HST_f_Av', 'AST_f_Av', 'HST_a_Av', 'AST_a_Av',
       'HST_Lg_Av', 'AST_Lg_Av', 'AvH', 'AvD', 'AvA', 'Av_O2.5', 'Av_U2.5',
       'TG', 'TST'],
      dtype='object')

#### Add column with Home/Draw/Away Win % & Ov/Un (True)

In [74]:
df['HW_%'] = round((1/df['AvH']) / (1/df['AvH'] + 1/df['AvD'] + 1/df['AvA']),2)  # Add a column giving the Home Win % (HW_%)

In [75]:
df['X_%'] = round((1/df['AvD']) / (1/df['AvH'] + 1/df['AvD'] + 1/df['AvA']),2)  # Add a column giving the Draw % (X_%)

In [76]:
df['AW_%'] = round((1/df['AvA']) / (1/df['AvH'] + 1/df['AvD'] + 1/df['AvA']),2)  # Add a column giving the Away Win % (AW_%)

In [77]:
df['Ov2.5_%'] = round((1/df['Av_O2.5']) / (1/df['Av_U2.5'] + 1/df['Av_O2.5']),2)  # Add a column giving the Over 2.5 % (Un2.5_%)

In [78]:
df['Un2.5_%'] = round((1/df['Av_U2.5']) / (1/df['Av_O2.5'] + 1/df['Av_U2.5']),2)  # Add a column giving the Under 2.5 % (Un2.5_%)

In [79]:
df.head(5)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HS_f_Av,AS_f_Av,...,AvA,Av_O2.5,Av_U2.5,TG,TST,HW_%,X_%,AW_%,Ov2.5_%,Un2.5_%
0,I1,21/08/2021,Inter,Genoa,4,0,17.0,11.0,19.79,9.53,...,8.94,1.63,2.28,4,13.0,0.71,0.19,0.11,0.58,0.42
1,I1,21/08/2021,Verona,Sassuolo,2,3,12.0,15.0,12.26,14.47,...,2.69,1.85,1.98,5,12.0,0.37,0.28,0.36,0.52,0.48
2,I1,21/08/2021,Empoli,Lazio,1,3,16.0,8.0,14.26,10.11,...,1.73,1.72,2.15,4,10.0,0.20,0.24,0.55,0.56,0.44
3,I1,21/08/2021,Torino,Atalanta,1,2,19.0,6.0,14.00,14.37,...,1.60,1.57,2.43,3,10.0,0.18,0.23,0.60,0.61,0.39
4,I1,22/08/2021,Bologna,Salernitana,3,2,18.0,8.0,11.84,10.53,...,5.15,1.81,2.02,5,11.0,0.58,0.24,0.19,0.53,0.47

#### Import OverUnder_Ex sheet to merge with LD_df

In [80]:
dfOU = pd.read_csv('C:/Users/MikeD/Documents/Betting/OverUnder_Exp.csv', index_col=False)
dfOU

     Exp1  Under  Over  Un2.5_%  Ov2.5_%   Exp
0    1.64   1.29  4.45     0.78     0.22  1.64
1    1.66   1.30  4.33     0.77     0.23  1.66
2    1.68   1.31  4.23     0.76     0.24  1.68
3    1.70   1.32  4.13     0.76     0.24  1.70
4    1.73   1.33  4.03     0.75     0.25  1.73
..    ...    ...   ...      ...      ...   ...
198  3.78   3.70  1.37     0.27     0.73  3.78
199  3.80   3.70  1.37     0.27     0.73  3.80
200  3.82   3.78  1.36     0.26     0.74  3.82
201  3.84   3.78  1.36     0.26     0.74  3.84
202  3.86   3.86  1.35     0.26     0.74  3.86

[203 rows x 6 columns]

In [81]:
dfOU = dfOU.drop(['Exp1','Under','Over', 'Un2.5_%'], axis = 1)
dfOU

     Ov2.5_%   Exp
0       0.22  1.64
1       0.23  1.66
2       0.24  1.68
3       0.24  1.70
4       0.25  1.73
..       ...   ...
198     0.73  3.78
199     0.73  3.80
200     0.74  3.82
201     0.74  3.84
202     0.74  3.86

[203 rows x 2 columns]

In [82]:
dfOU.drop_duplicates(subset='Ov2.5_%', inplace = True)
dfOU

     Ov2.5_%   Exp
0       0.22  1.64
1       0.23  1.66
2       0.24  1.68
4       0.25  1.73
6       0.26  1.77
8       0.27  1.82
9       0.28  1.84
11      0.29  1.87
13      0.30  1.90
15      0.31  1.94
17      0.32  1.98
20      0.33  2.04
22      0.34  2.07
24      0.35  2.10
25      0.36  2.12
27      0.37  2.16
30      0.38  2.22
33      0.39  2.25
39      0.40  2.29
46      0.41  2.33
52      0.42  2.37
57      0.43  2.40
63      0.44  2.44
68      0.45  2.47
73      0.46  2.53
77      0.47  2.56
82      0.48  2.60
86      0.49  2.62
90      0.50  2.66
93      0.51  2.71
97      0.52  2.76
101     0.53  2.79
106     0.54  2.84
109     0.55  2.89
114     0.56  2.94
120     0.57  2.99
125     0.58  3.03
131     0.59  3.06
136     0.60  3.10
143     0.61  3.14
149     0.62  3.16
156     0.63  3.20
163     0.64  3.26
171     0.65  3.30
179     0.66  3.38
184     0.67  3.46
186     0.68  3.50
189     0.69  3.57
191     0.70  3.63
193     0.71  3.67
196     0.72  3.74
198     0.73  3.78
200     0.74  3.82

In [83]:
df = pd.merge(left=df, right = dfOU, how='left')

In [84]:
df.drop_duplicates(keep='first')
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HS_f_Av,AS_f_Av,...,Av_O2.5,Av_U2.5,TG,TST,HW_%,X_%,AW_%,Ov2.5_%,Un2.5_%,Exp
0,I1,21/08/2021,Inter,Genoa,4,0,17.0,11.0,19.79,9.53,...,1.63,2.28,4,13.0,0.71,0.19,0.11,0.58,0.42,3.03
1,I1,21/08/2021,Verona,Sassuolo,2,3,12.0,15.0,12.26,14.47,...,1.85,1.98,5,12.0,0.37,0.28,0.36,0.52,0.48,2.76
2,I1,21/08/2021,Empoli,Lazio,1,3,16.0,8.0,14.26,10.11,...,1.72,2.15,4,10.0,0.20,0.24,0.55,0.56,0.44,2.94
3,I1,21/08/2021,Torino,Atalanta,1,2,19.0,6.0,14.00,14.37,...,1.57,2.43,3,10.0,0.18,0.23,0.60,0.61,0.39,3.14
4,I1,22/08/2021,Bologna,Salernitana,3,2,18.0,8.0,11.84,10.53,...,1.81,2.02,5,11.0,0.58,0.24,0.19,0.53,0.47,2.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19355,SC0,10/05/2014,Partick,Ross County,2,3,11.0,7.0,12.11,7.11,...,1.67,2.14,5,9.0,0.45,0.27,0.28,0.56,0.44,2.94
19356,SC0,10/05/2014,St Mirren,Hearts,1,1,11.0,8.0,9.74,8.58,...,1.69,2.09,2,10.0,0.44,0.27,0.29,0.55,0.45,2.89
19357,SC0,11/05/2014,Aberdeen,Motherwell,0,1,8.0,4.0,10.00,8.79,...,1.74,2.04,1,4.0,0.46,0.28,0.26,0.54,0.46,2.84
19358,SC0,11/05/2014,Celtic,Dundee United,3,1,12.0,7.0,17.11,10.95,...,1.45,2.62,4,10.0,0.72,0.18,0.10,0.64,0.36,3.26
19359,SC0,11/05/2014,Inverness C,St Johnstone,2,0,6.0,3.0,10.63,7.63,...,2.01,1.77,2,9.0,0.39,0.29,0.31,0.47,0.53,2.56

##### Add Home/Away Expected Goals

In [85]:
df['HG_Exp'] = round((df['Exp']) * (df['HW_%'] + 0.5 * df['X_%']),2)
df['AG_Exp'] = round((df['Exp']) * (df['AW_%'] + 0.5 * df['X_%']),2)
df['Sup Exp'] = df['HG_Exp'] - df['AG_Exp']
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HS_f_Av,AS_f_Av,...,TST,HW_%,X_%,AW_%,Ov2.5_%,Un2.5_%,Exp,HG_Exp,AG_Exp,Sup Exp
0,I1,21/08/2021,Inter,Genoa,4,0,17.0,11.0,19.79,9.53,...,13.0,0.71,0.19,0.11,0.58,0.42,3.03,2.44,0.62,1.82
1,I1,21/08/2021,Verona,Sassuolo,2,3,12.0,15.0,12.26,14.47,...,12.0,0.37,0.28,0.36,0.52,0.48,2.76,1.41,1.38,0.03
2,I1,21/08/2021,Empoli,Lazio,1,3,16.0,8.0,14.26,10.11,...,10.0,0.20,0.24,0.55,0.56,0.44,2.94,0.94,1.97,-1.03
3,I1,21/08/2021,Torino,Atalanta,1,2,19.0,6.0,14.00,14.37,...,10.0,0.18,0.23,0.60,0.61,0.39,3.14,0.93,2.25,-1.32
4,I1,22/08/2021,Bologna,Salernitana,3,2,18.0,8.0,11.84,10.53,...,11.0,0.58,0.24,0.19,0.53,0.47,2.79,1.95,0.86,1.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19355,SC0,10/05/2014,Partick,Ross County,2,3,11.0,7.0,12.11,7.11,...,9.0,0.45,0.27,0.28,0.56,0.44,2.94,1.72,1.22,0.50
19356,SC0,10/05/2014,St Mirren,Hearts,1,1,11.0,8.0,9.74,8.58,...,10.0,0.44,0.27,0.29,0.55,0.45,2.89,1.66,1.23,0.43
19357,SC0,11/05/2014,Aberdeen,Motherwell,0,1,8.0,4.0,10.00,8.79,...,4.0,0.46,0.28,0.26,0.54,0.46,2.84,1.70,1.14,0.56
19358,SC0,11/05/2014,Celtic,Dundee United,3,1,12.0,7.0,17.11,10.95,...,10.0,0.72,0.18,0.10,0.64,0.36,3.26,2.64,0.62,2.02
19359,SC0,11/05/2014,Inverness C,St Johnstone,2,0,6.0,3.0,10.63,7.63,...,9.0,0.39,0.29,0.31,0.47,0.53,2.56,1.37,1.16,0.21

In [86]:
# drop bookie prices now we can trues collated
df = df.drop(['AvH','AvD','AvA','Av_O2.5', 'Av_U2.5'], axis=1)
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HS_f_Av,AS_f_Av,...,TST,HW_%,X_%,AW_%,Ov2.5_%,Un2.5_%,Exp,HG_Exp,AG_Exp,Sup Exp
0,I1,21/08/2021,Inter,Genoa,4,0,17.0,11.0,19.79,9.53,...,13.0,0.71,0.19,0.11,0.58,0.42,3.03,2.44,0.62,1.82
1,I1,21/08/2021,Verona,Sassuolo,2,3,12.0,15.0,12.26,14.47,...,12.0,0.37,0.28,0.36,0.52,0.48,2.76,1.41,1.38,0.03
2,I1,21/08/2021,Empoli,Lazio,1,3,16.0,8.0,14.26,10.11,...,10.0,0.20,0.24,0.55,0.56,0.44,2.94,0.94,1.97,-1.03
3,I1,21/08/2021,Torino,Atalanta,1,2,19.0,6.0,14.00,14.37,...,10.0,0.18,0.23,0.60,0.61,0.39,3.14,0.93,2.25,-1.32
4,I1,22/08/2021,Bologna,Salernitana,3,2,18.0,8.0,11.84,10.53,...,11.0,0.58,0.24,0.19,0.53,0.47,2.79,1.95,0.86,1.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19355,SC0,10/05/2014,Partick,Ross County,2,3,11.0,7.0,12.11,7.11,...,9.0,0.45,0.27,0.28,0.56,0.44,2.94,1.72,1.22,0.50
19356,SC0,10/05/2014,St Mirren,Hearts,1,1,11.0,8.0,9.74,8.58,...,10.0,0.44,0.27,0.29,0.55,0.45,2.89,1.66,1.23,0.43
19357,SC0,11/05/2014,Aberdeen,Motherwell,0,1,8.0,4.0,10.00,8.79,...,4.0,0.46,0.28,0.26,0.54,0.46,2.84,1.70,1.14,0.56
19358,SC0,11/05/2014,Celtic,Dundee United,3,1,12.0,7.0,17.11,10.95,...,10.0,0.72,0.18,0.10,0.64,0.36,3.26,2.64,0.62,2.02
19359,SC0,11/05/2014,Inverness C,St Johnstone,2,0,6.0,3.0,10.63,7.63,...,9.0,0.39,0.29,0.31,0.47,0.53,2.56,1.37,1.16,0.21

#### Copy DF to file 'Leagues_Data_Combined'

In [87]:
df.to_csv(r'C:\Users\MikeD\Documents\Betting\Python Analysis\Leagues_SOT_DF_Prepared.csv')
print('DF written to csv successfully')

DF written to csv successfully